@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#f9ca24;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:rgb(10, 14, 14);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:rgb(8, 9, 8);
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
   }
   
   button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   button:main, button:focus {
    user-select: auto;
   }
   
   button:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   button:disabled {
    cursor: auto;
   }
   
   button:active:after {
    border-width: 0 0 0px;
   }
   
   button:active {
    padding-bottom: 10px;
   }

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}
.buttons{
    display: flex;
    gap: 2rem;
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    
}



header .users img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}

header .users .name{
    font-size: 3.5rem;
    color:#fff;
}

header .users .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-align: center;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}


#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}
.texting{
    font-size: 1.3rem;
    color: white;
    margin-top: 2rem;
}
.cards {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-direction: row;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  
  .cards .blue {
    background-color: #3b82f6;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
  }





.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
    /* flex-basis: 35%; */
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

.logocover
{
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
}
.logocover::before
{
content: '';
position: absolute;
inset: -10px 120px;
background: linear-gradient(315deg, #00ccff, #d400d4);
transition: 1sec;
animation: animate 6s linear infinite;


}
.logocover:hover::before
{
    inset: -10px -120px;
}
@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
.logocover::after
{
  content: '';
  position: absolute;
  inset: 5px;
  background: #162052;
  border-radius: 50%;
  z-index: 1;
}
.logoimage
{
 position: absolute;
 inset: 5px;
 border: 6px solid #070a1c;
 z-index: 3;
 border-radius: 50%;
 overflow: hidden;


}
.logoimage img{
  top: 0;
  left: 0;
  height:100% ;
  width: 100%;
  object-fit: cover;
  
}
















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }
 .dashboard{
 flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
 }
 .skillsbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
 }
 .shukla{
    object-fit: cover;
 }
 .container {
    position: relative;
    width: 80px; /* Set the width to match the image width */
    height: 80px; /* Set the height to match the image height */
    margin: 50px auto;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  .progress-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, 80px, 80px, 40px); /* Adjust the clip to match the container dimensions */
    border-radius: 50%;
    z-index: 2;
  }

  .progress-circle {
    fill: none;
    stroke: #3498db;
    stroke-width: 6; /* Adjust the stroke width as needed */
    stroke-linecap: round;
    animation: progress 2s linear infinite;
  }

  @keyframes progress {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -150; /* Adjust the stroke-dashoffset value based on the stroke width */
    }
  }

  .main {
    width: 50%;
    margin: 0 auto;
  }
  .progress {
    margin: 25px 0;
  }
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  .title h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
  }
  .barline {
    height: 12px;
    background: #c8d6e5;
    border-radius: 20px;
  }
  
  .countbar {
    height: 12px;
    background:red;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
  }
  .countbar h3 {
    position: absolute;
    right: -19px;
    top: -35px;
    background: white;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
  }
  .countbar h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 11px;
    height: 11px;
    background: white;
    transform: rotate(45deg) translateX(-60%);
  }
  